body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: whitesmoke;
    color: dimgrey;
}

h1 h2{
    color: deepskyblue;
}

header{
    background-color: white;
    box-sizing: 0 4px 6px;
    padding: 15px 5%;
    display: flex;
    align-items: center;
}

.lop{
    position: relative ;
}

.lop-hop {
    position: absolute;
    min-width: 90px;
    background-color: bisque;
    display: none;
}

.lop-hop li a{
    color: brown;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.lop-hop li a:hover{
    background-color: bisque;
}

.lop:hover .lop-hop{
    display: block;
}

.logo{
    font-size: 30px;
    font-weight: 100px ;
    color: deepskyblue;
}

nav {
    margin-left: auto;
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
}

nav ul li{
    margin: 0 10px;
}

.dang-ky-email{
    background-color: green;
    color: white;
    padding: 10px 25px;
    border-radius: 30px;
    font-weight: 100px;
    margin-left: 25px;
}

.video-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 5%;
    background-color: whitesmoke;
}

.video-img-hop{
    color: aqua;
}

.khung-cong-tru{
    max-width: 600px;
    margin: 10% auto;
    padding: 20px;
    background-color: ivory;
    box-shadow: 0 5px 20px;
    border: 2px solid blue;
}

#hop-tinh button{
    display: block;
    width: 80%;
    margin: auto;
}

.khung-cong-tru h3{
    color: aqua;
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
}

.khung-cong-tru .cong-tru{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.khung-cong-tru input[type="number"]
.khung-cong-tru select{
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 10px;
    text-align: center;
}


#hien-thi-kq{
    margin-top: 30px;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    background-color: green;
    color: aqua;
    border: 1px;
    text-align: center;
}

.hop-tinh{
    padding: 5px 5%;
    text-align: center;
}

.hop-tinh{
    background-color: black;
}

#bai-tap{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 50px;
}

.mo-ta-bt{
    background-color: white;
    color: brown;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px;
}

.mo-ta-bt h3{
    color: grey;
}

.mo-ta-bt p{
    color: brown;
    text-align: center;
}

.tien-do{
    background-color: white;
    color: red;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px;
    text-align: center ;
}